# Ignore all runs by default
**/runs/

# Allow runs for 5 macros (inside MARCO/)
!MARCO/alarm/runs/
!MARCO/counter_all/runs/
!MARCO/decode_all/runs/
!MARCO/decode_day/runs/
!MARCO/decode_input/runs/
!MARCO/runs/

